<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>
<%- include("partials/nav_cierre.ejs") %> 

<main>
    <h1><%=about %></h1>
    <form id="altaProducto-form" class="productos-form">
        <label for="nameProd">Nombre: </label>
        <input id="nameProd" name="nombre" type="text" required>

        <label for="priceProd">Precio: </label>
        <input id="priceProd" name="precio" type="number" required>

        <label for="categoryProd">Categoría: </label>
        <select id="categoryProd" name="tipo" required>
            <option value="Sellado">Sellado</option>
            <option value="Accesorio">Accesorio</option>
        </select>

        <label id="dropArea" class="drop-zone">
        <p class="drop-text">Arrastra un archivo aquí o <span>explora</span></p>
        <p class="drop-subtext">Tamaño máximo: 5MB</p>
        <input type="file" id="fileInput" name="image" />
        </label>

        <div class="file-preview" id="filePreview">
        <div id="fileName">Archivo: </div>
        </div>
        <button class="button" type="submit">Crear Producto</button>
    </form>

    <hr class="separador">
    <div id="contenedor-productos"></div>
</main>

<!-- referencia al js crear -->
<script src="js/crear.js"></script>

<%- include("partials/footer.ejs") %>