<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>
<%- include("partials/nav_cierre.ejs") %> 
<main>
    <h1><%=about %></h1>

    <form id="getProductos-form" class="productos-form">

        <label for="idProd">Id del producto: </label>
        <input type="number" name="id" id="idProd" required>

        <button class="button" type="submit">Buscar producto</button>
    </form>

    <hr class="separador">
    <div id="contenedor-productos" class="catalogo-productos"></div>
</main>
<script src="js/eliminar.js"></script>

<%- include("partials/footer.ejs") %>
