<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>
<%- include("partials/nav_filtros.ejs") %> 
<%- include("partials/nav_cierre.ejs") %> 

<main>
    <h1><%= about %></h1>
    <div class="catalogo-productos">
        <hr class="separador">
        <div id="contenedor-productos"></div>
    </div>
</main>

<script src="js/index.js"></script>
<%- include("partials/footer.ejs") %>