<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>
<%- include("partials/nav_filtros.ejs") %> 
<%- include("partials/nav_cierre.ejs") %> 

<main>
    <h1><%= about %></h1>
    <hr>
    <div id="contenedor-productos">
        <!-- Vamos a iterar el array de productos que le pasamos desde el endpoint -->

    </div>
</main>

<script src="js/index.js"></script>
<%- include("partials/footer.ejs") %>