<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>
<%- include("partials/nav_cierre.ejs") %> 

<main>
    <h1><%= about %></h1>
    <div class="catalogo-ventas">
        <hr class="separador">
        <div id="contenedor-ventas"></div>
    </div>
</main>

<script src="js/ventas.js"></script>
<%- include("partials/footer.ejs") %>